

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #04BFBD;
    height: 7vh;
    z-index: 100;
}

.logo{
    position: absolute;
    width: 8%;
    text-align: center;
    font-size: 20px;
    color: white;
    top: 22%;
    left: 2%;
}

.navbar_link{
    width: 20%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 70%;
    top: 30%;
    font-size: 20px;
}
.link{
    text-decoration: none;
    color: white;
}

.login_page{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5%;
}

.home_main{
    width: 80%;
    margin-left: 10%;
    background-color: #fff;
    margin-top: 6%;
}

.home_add_btn{
    width: 100%;
    text-align: right;
}

.home_btn_btn{
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 7%;
}
  
  .home_btn_btn:after {
    background-clip: padding-box;
    background-color: #04BFBD;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.home_btn_btn:main,
.home_btn_btn:focus {
  user-select: auto;
}

.home_btn_btn:hover:not(:disabled) {
  filter: brightness(1.1);
}

.home_btn_btn:disabled {
  cursor: auto;
}

.error{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    font-size: 12px;
    color: red;
    border-radius: 2px;
}

.home_conatiner{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home_sub_container_1{
    width: 45%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.home_sub_container_2{
    width: 45%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 20px;
}

.crousel_image{
    overflow: hidden;
    cursor: pointer;
}

.data_title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.donate_now{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    align-content: center;
    cursor: pointer;
}

.donate_now_1{
    width: 60%;
    background-color: #04BFBD;
    color: white;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
}
.donate_now_1_not_active{
    width: 60%;
    background-color: #04BFBD;
    color: white;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
}

.donate_now_non_active{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    align-content: center;
    text-decoration: line-through;
    opacity: 0.5;
}

.money{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 10px;
    font-size: 30px;
}
.c_money{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 5px;
}

.c_money p {
    font-size: 30px;
}

.c_money p sup {
    font-size: 15px;
    padding-left: 5px;
    color: grey;
}

.data_time{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 30px;
}

.data_time{
    width: 100%;
    justify-content: center;
    display: flex;
    align-content: center;
}

.data_time_time{
    width: 25%;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.line{
    width: 100%;
    margin-top: 2%;
    border: 1px solid #04BFBD ;
    border-radius: 4px;
    margin-bottom: 1%;
}

.more_details{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 3%;
}

.more_details p{
    margin-left: 60%;
    font-size: 15px;
    cursor: pointer;
    color: #04BFBD;
}

.more_details p:hover{
    text-decoration: underline;
}

.box {
    position: relative;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: red;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  
  /* top left*/
  .ribbon_top_left {
    top: -10px;
    left: -10px;
  }
  .ribbon_top_left::before,
  .ribbon_top_left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon_top_left::before {
    top: 0;
    right: 0;
  }
  .ribbon_top_left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon_top_left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }

  .aboutpage_main{
      margin-top: 2%;
      width: 100%;
      padding-top: 10px;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      display: flex;
      justify-content: center;
      border-radius: 5px;
  }

  .aboutpage_container{
      width: 90%;
      padding-top: 1%;
  }

  .about_page_title{
      width: 100%;
     display: flex;
     justify-content: center;
     font-size: 30px;
     padding-top: 10px;
  }

  .about_image{
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .about_img_img{
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .about_comment{
      width: 100%;
      padding-bottom: 2%;
  }

  .comments{
      width: 100%;
      margin-top: 2%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      margin-bottom: 2%;
      font-size: 18px;
  }

  .comming_soon{
      width: 100%;
      margin-top: 2%;
      margin-bottom: 2%;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
  }
